<a href="https://colab.research.google.com/github/kurokawa5/practice_leetcode/blob/main/1389_Create_Target_Array_in_the_Given_Order.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1389. Create Target Array in the Given Order

### Example 1

In [2]:
nums = [0,1,2,3,4]
index = [0,1,2,2,1]

In [3]:
arr = []
for i, v in zip(index, nums):
    arr.insert(i, v)
    print(arr)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 3, 2]
[0, 4, 1, 3, 2]

### Example 2

In [4]:
nums = [1,2,3,4,0]
index = [0,1,2,3,0]

In [5]:
arr = []
for i, v in zip(index, nums):
    arr.insert(i, v)
    print(arr)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[0, 1, 2, 3, 4]

Example 3

In [8]:
Input: nums = [1]
index = [0]

In [9]:
arr = []
for i, v in zip(index, nums):
    arr.insert(i, v)
    print(arr)

[1]