<a href="https://colab.research.google.com/github/kurokawa5/practice_leetcode/blob/main/6_Zigzag_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 6. Zigzag Conversion

### Example 1

In [19]:
s = "PAYPALISHIRING"
numRows = 3

In [20]:
if numRows < 2:
  print(s) 

result = [""] * numRows
print(result)
    
# We start with first row
row = 0

for character in s:
    #print(character)
    #print(row)
    # if we reach top we have to move down
    if row == 0:
        move_down = True
    # if we reach bottom then we have to move up
    elif row == numRows - 1:
        move_down = False

    # Add character to corresponding row
    result[row] += character

    # update the row -> increment by 1 if we move down else, decrement by 1 if we move up.
    row = (row + 1) if move_down else row - 1


print(result)
# Finally join all rows and return
print( "".join(result))

['', '', '']
['PAHN', 'APLSIIG', 'YIR']
PAHNAPLSIIGYIR

### Example 2

In [21]:
Input: s = "PAYPALISHIRING" 
numRows = 4

In [22]:
if numRows < 2:
  print(s) 

result = [""] * numRows
print(result)
    
# We start with first row
row = 0

for character in s:
    #print(character)
    #print(row)
    # if we reach top we have to move down
    if row == 0:
        move_down = True
    # if we reach bottom then we have to move up
    elif row == numRows - 1:
        move_down = False

    # Add character to corresponding row
    result[row] += character

    # update the row -> increment by 1 if we move down else, decrement by 1 if we move up.
    row = (row + 1) if move_down else row - 1


print(result)
# Finally join all rows and return
print( "".join(result))

['', '', '', '']
['PIN', 'ALSIG', 'YAHR', 'PI']
PINALSIGYAHRPI

### Example 3

In [23]:
s = "A"
numRows = 1

In [24]:
if numRows < 2:
  print(s) 

result = [""] * numRows
print(result)
    
# We start with first row
row = 0

for character in s:
    #print(character)
    #print(row)
    # if we reach top we have to move down
    if row == 0:
        move_down = True
    # if we reach bottom then we have to move up
    elif row == numRows - 1:
        move_down = False

    # Add character to corresponding row
    result[row] += character

    # update the row -> increment by 1 if we move down else, decrement by 1 if we move up.
    row = (row + 1) if move_down else row - 1


print(result)
# Finally join all rows and return
print( "".join(result))

A
['']
['A']
A